#### Here, I will simply add a constant to the sample_submission file

In [81]:
import pandas as pd

In [82]:
sample_submission=pd.read_csv('sample_submission.csv')
sample_submission.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,2.0,10.0,300.0
1,2011-01-01 01:00:00,2.0,10.0,300.0
2,2011-01-01 02:00:00,2.0,10.0,300.0
3,2011-01-01 03:00:00,2.0,10.0,300.0
4,2011-01-01 04:00:00,2.0,10.0,300.0

In [83]:
sample_submission.columns

Index(['date_time', 'target_carbon_monoxide', 'target_benzene',
       'target_nitrogen_oxides'],
      dtype='object')

In [84]:
sample_submission['target_carbon_monoxide']= sample_submission['target_carbon_monoxide']+2

sample_submission['target_benzene']=sample_submission['target_benzene'] +5

sample_submission['target_nitrogen_oxides'] = sample_submission['target_nitrogen_oxides']+50

In [85]:
sample_submission.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2011-01-01 00:00:00,4.0,15.0,350.0
1,2011-01-01 01:00:00,4.0,15.0,350.0
2,2011-01-01 02:00:00,4.0,15.0,350.0
3,2011-01-01 03:00:00,4.0,15.0,350.0
4,2011-01-01 04:00:00,4.0,15.0,350.0

In [86]:
sample_submission.to_csv('constant_sample_submission.csv', index=False)

### I want to approximate the score that I will get on kaggle

In [89]:
train=pd.read_csv('train.csv')

In [90]:
train.columns

Index(['date_time', 'deg_C', 'relative_humidity', 'absolute_humidity',
       'sensor_1', 'sensor_2', 'sensor_3', 'sensor_4', 'sensor_5',
       'target_carbon_monoxide', 'target_benzene', 'target_nitrogen_oxides'],
      dtype='object')

In [91]:
train=train[['date_time', 'target_carbon_monoxide', 'target_benzene', 'target_nitrogen_oxides']]
train.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,2.5,12.0,167.7
1,2010-03-10 19:00:00,2.1,9.9,98.9
2,2010-03-10 20:00:00,2.2,9.2,127.1
3,2010-03-10 21:00:00,2.2,9.7,177.2
4,2010-03-10 22:00:00,1.5,6.4,121.8

In [92]:
constant_pred=pd.DataFrame()

In [93]:
constant_pred['date_time']=train['date_time']

constant_pred['target_carbon_monoxide']= [4.0 for x in range(len(train))]

constant_pred['target_benzene']=[15.0 for x in range(len(train))]

constant_pred['target_nitrogen_oxides'] = [350.0 for x in range(len(train))]

constant_pred.head()

,date_time,target_carbon_monoxide,target_benzene,target_nitrogen_oxides
0,2010-03-10 18:00:00,4.0,15.0,350.0
1,2010-03-10 19:00:00,4.0,15.0,350.0
2,2010-03-10 20:00:00,4.0,15.0,350.0
3,2010-03-10 21:00:00,4.0,15.0,350.0
4,2010-03-10 22:00:00,4.0,15.0,350.0

In [94]:
constant_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7111 entries, 0 to 7110
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_time               7111 non-null   object
 1   target_carbon_monoxide  7111 non-null   float64
 2   target_benzene          7111 non-null   float64
 3   target_nitrogen_oxides  7111 non-null   float64
dtypes: float64(3), object(1)
memory usage: 222.3+ KB

In [95]:
from sklearn.metrics import mean_squared_log_error
import math

In [96]:
RMSLE_CM=math.sqrt(mean_squared_log_error(train['target_carbon_monoxide'], constant_pred['target_carbon_monoxide']))
RMSLE_BZ=math.sqrt(mean_squared_log_error(train['target_benzene'], constant_pred['target_benzene']))
RMSLE_NO=math.sqrt(mean_squared_log_error(train['target_nitrogen_oxides'], constant_pred['target_nitrogen_oxides']))

average_RMSLE=(RMSLE_CM+RMSLE_BZ+RMSLE_NO)/3    #The final score on Kaggle is the mean of the RMSLE over all columns, 
                                                #in this case, 3.

In [97]:
print('The final score should be approximately {}'.format(average_RMSLE))

The final score should be approximately 0.9866628797736906

The actual score was 0.95650